<div class="manga">
    <div class="manga_img">
        <img src="{{manga.coverArtSrc}}" alt="manga" class="cover">
    </div>
    <div class="manga_info">
        <div class="label">
            <div class="title">
                Artist:
            </div>
            <div class="text">
                {{manga.artist}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Author:
            </div>
            <div class="text">
                {{manga.author}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Demographic:
            </div>
            <div class="text">
                {{manga.publicationDemographic}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Original Language:
            </div>
            <div class="text">
                {{manga.originalLanguage}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Tags:
            </div>
            <div class="tags">
                <div class="text">
                    {{manga.tags.join(', ')}}
                </div>
            </div>
        </div>

        <div class="label">
            <div class="title">
                Year:
            </div>
            <div class="text">
                {{manga.year}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Release Type:
            </div>
            <div class="text">
                {{manga.type}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Status:
            </div>
            <div class="text">
                {{manga.status}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Content Rating:
            </div>
            <div class="text">
                {{manga.contentRating}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                State:
            </div>
            <div class="text">
                {{manga.state}}
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="big-title">
        <h1 class="text-formating">{{manga.title}}</h1>
    </div>
    <div class="small-title">
        {{manga.title_ja}} {{manga.title_ja_ro}}
    </div>
    <div class="tab">
        <p-tabView (onChange)="onTabChange($event)" [(activeIndex)]="currentTab">
            <p-tabPanel header="Description">
                <div class="description" [innerHTML]="markdown"></div>
            </p-tabPanel>
            <p-tabPanel header="Chapters ({{chapterList.length}})">
                <p-table [value]="chapterList" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [width]="100">Chapter Number</th>
                            <th [width]="700">Title</th>
                            <th [width]="100">Pages</th>
                            <th [width]="100"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-chapter>
                        <tr>
                            <td>{{chapter.chapterNumber}}</td>
                            <td>{{chapter.title ? chapter.title : ('Chapter ' + chapter.chapterNumber)}}</td>
                            <td>{{chapter.pageNumber}}</td>
                            <td>
                                <p-button icon="pi pi-eye" (onClick)="readChapter(chapter.id, chapter.chapterNumber)"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>
            <p-tabPanel header="Read">
                <div *ngIf="chapterPages.pages.length == 0">
                    <p>No Chapter Loaded</p>
                </div>

                <div *ngIf="chapterPages.pages.length != 0">
                    <p-button (onClick)="prevChapter()">Previous Chapter</p-button>
                    <p-button (onClick)="nextChapter()">Next Chapter</p-button>

                    <div *ngFor="let imageLink of chapterPages.pages">
                        <img [src]="imageLink" alt="Default image description">
                    </div>

                    <p-button (onClick)="prevChapter()">Previous Chapter</p-button>
                    <p-button (onClick)="nextChapter()">Next Chapter</p-button>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>

