<div class="manga">
    <div class="manga_img">
        <img src="{{manga.coverArtSrc}}" alt="manga" class="cover">
    </div>
    <div class="manga_info">
        <div class="label">
            <div class="title">
                Artist:
            </div>
            <div class="text">
                {{manga.artist}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Author:
            </div>
            <div class="text">
                {{manga.author}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Demographic:
            </div>
            <div class="text">
                {{manga.publicationDemographic}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Original Language:
            </div>
            <div class="text">
                {{manga.originalLanguage}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Tags:
            </div>
            <div class="tags">
                <div class="text">
                    {{manga.tags.join(', ')}}
                </div>
            </div>
        </div>

        <div class="label">
            <div class="title">
                Year:
            </div>
            <div class="text">
                {{manga.year}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Release Type:
            </div>
            <div class="text">
                {{manga.type}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Status:
            </div>
            <div class="text">
                {{manga.status}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Content Rating:
            </div>
            <div class="text">
                {{manga.contentRating}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                State:
            </div>
            <div class="text">
                {{manga.state}}
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="big-title">
        <h1 class="text-formating">{{manga.title}}</h1>
    </div>
    <div class="small-title">
        {{manga.title_ja}} {{manga.title_ja_ro}}
    </div>
    <div class="tab">
        <p-tabView>
            <p-tabPanel header="Description">
                <div class="description" [innerHTML]="markdown"></div>
            </p-tabPanel>
            <p-tabPanel header="Chapters ({{0}})">

                <p-table  responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [width]="100">ID</th>
                            <th [width]="700">Number</th>
                            <th [width]="100">Pages</th>
                            <th [width]="100"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-section>
                        <tr>
                            <td>{{section.id}}</td>
                            <td>{{section.section}}</td>
                            <td>{{section.pages}}</td>
                            <td>
                                <p-button icon="pi pi-eye" (onClick)="openmanga(manga.id)"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </p-tabPanel>
        </p-tabView>
    </div>
</div>


<p-dialog header={12} [(visible)]="displayBasic" [style]="{height: '100vh',width: '50vw'}">
    <!-- <div  style="height:100%">
        <ng-template ngSwitchCase="1" style="height:100%">
            <ng2-pdfjs-viewer pdfSrc="/assets/First.pdf"></ng2-pdfjs-viewer>
        </ng-template>
        <ng-template ngSwitchCase="2" style="height:100%">
            <ng2-pdfjs-viewer pdfSrc="/assets/Second.pdf"></ng2-pdfjs-viewer>
        </ng-template>
        <ng-template ngSwitchCase="3" style="height:100%">
            <ng2-pdfjs-viewer pdfSrc="/assets/Third.pdf"></ng2-pdfjs-viewer>
        </ng-template>
        <ng-template ngSwitchCase="4" style="height:100%">
            <ng2-pdfjs-viewer pdfSrc="/assets/Fourth.pdf"></ng2-pdfjs-viewer>
        </ng-template>
        <ng-template ngSwitchCase="5" style="height:100%">
            <ng2-pdfjs-viewer pdfSrc="/assets/Fifth.pdf"></ng2-pdfjs-viewer>
        </ng-template>
    </div> -->
</p-dialog>
